.header-contacto {
	height: 500px;
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
	background-image: url(../../Imagenes/CONTACTO.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-color: #222;
	overflow: hidden;
}

.item-background-filter {
	height: 500px;
	width: 100%;
	-webkit-filter: brightness(110%) saturate(160%) sepia(30%) hue-rotate(350deg);
	-moz-filter: brightness(110%) saturate(160%) sepia(30%) hue-rotate(350deg);
	-o-filter: brightness(110%) saturate(160%) sepia(30%) hue-rotate(350deg);
	filter: brightness(110%) saturate(160%) sepia(30%) hue-rotate(350deg);
}

.item-background-filter::before {
	content: "";
	display: block;
	height: 500px;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	pointer-events: none;
	mix-blend-mode: screen;
	opacity: 0.3;
	background: #cc4400;
}

.header-contacto-item {
	min-height: 100px;
	position: absolute;
	top: 32%;
	left: 0;
	right: 0;
}

.header-contacto-item>h1 {
	height: 100%;
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #fff;
	box-sizing: border-box;
	text-align: center;
	font-size: 80px;
	padding-top: 15px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.1;
}

@media screen and (max-width: 1012px) {
	.header-contacto,
	.item-background-filter,
	.item-background-filter::before {
		height: 400px;
	}
}

@media screen and (max-width: 496px) {
	.header-contacto,
	.item-background-filter,
	.item-background-filter::before {
		height: 300px;
	}
	.header-contacto-item {
		min-height: 100px;
		position: absolute;
		top: 25%;
		left: 0;
		right: 0;
	}
	.header-contacto-item>h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 392px) {
	.header-contacto,
	.item-background-filter,
	.item-background-filter::before {
		height: 200px;
	}
	.header-contacto-item {
		min-height: 100px;
		position: absolute;
		top: 20%;
		left: 0;
		right: 0;
	}
	.header-contacto-item>h1 {
		font-size: 30px;
	}
}

/*******************************************************************************/

.contact-title {
	margin: 40px;
}

.map-contacto {
	height: 300px;
	width: 100%;
}

.info {
	margin-top: 20px;
}

.formulario {
	margin-top: -50px;
}

.contacto-item-form-subtitle {
	min-height: 40px;
	width: 100%;
}

.form-content-items,
.form-content-items-coment {
	height: 35px;
	width: 100%;
	margin-top: 20px;
}

.form-content-items-coment {
	height: 200px;
}

.item-combo {
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.items-form-comentario {
	height: 200px;
	width: 100%;
	resize: none;
	border: 1px solid #b2b2b2;
	border-radius: 4px;
	box-sizing: border-box;
	padding-left: 8px;
	padding-top: 10px;
}

.form-content-items-chk {
	min-height: 30px;
	width: 330px;
	margin-top: 20px;
}

.chkText {
	min-height: 30px;
	width: 300px;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 10px;
	font-family: 'Archivo Black', sans-serif;
	font-family: 'Poppins', sans-serif !important;
	font-weight: 200;
	color: #636363;
}

.form-content-item-boton {
	height: 50px;
	width: 200px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

.direccion {
	margin-top: 20px;
}

/*Whatsapp*/

/*****************************************/

.icon-whatsapp-item {
	height: 60px;
	width: 300px;
	position: fixed;
	bottom: 5%;
	left: 1%;
	z-index: 9999;
}

.icon-whatsapp-item>a {
	height: 60px;
	width: 60px;
	display: inline-block;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	color: #fff;
	text-decoration: none;
	font-size: 28px;
	box-sizing: border-box;
	text-align: center;
	padding-top: 13px;
	border-radius: 50%;
	background-color: #0fb800;
	border: 2px solid #fff;
	box-shadow: 0px 5px 10px rgba(25, 25, 25, .3);
}

.icon-whatsapp-item>a:hover {
	background-color: #0c9800;
}

.ico-left-dir {
	color: rgba(25, 25, 25, .8);
	font-size: 18px;
}

.icon-whatsapp-item-mensaje {
	height: 40px;
	width: 186.5px;
	float: right;
	margin-right: 50px;
	margin-top: 10px;
	opacity: 0;
	display: none;
}

.icon-whatsapp-item-mensaje>span {
	height: 10px;
	width: 10px;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-top: 8px;
	float: left;
}

.icon-whatsapp-item-mensaje>p {
	height: 100%;
	width: 170px;
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	background-color: rgba(25, 25, 25, .9);
	border-radius: 5px;
	box-shadow: 0px 5px 10px rgba(25, 25, 25, .3);
	float: right;
	font-family: helvetica;
}

.whatsapp-icon-hover {
	opacity: 1;
	display: block;
}

/**************************************************************************************/

.modal-dialog {
	top: 30%;
}

/**************************************************************************************/

.conenido-tecnologias {
	height: 300px;
	width: 100%;
	background-color: #000;
	background-image: url('../../Imagenes/dev.jpg');
	background-position: 50% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.conenido-tecnologias-img {
	height: 100%;
	width: 100%;
	background-color: rgba(25, 25, 25, .2);
}

.conenido-tecnologias-img>img {
	height: 100%;
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 854px) {
	.conenido-tecnologias {
		height: 200px;
	}
}

@media screen and (max-width: 546px) {
	.conenido-tecnologias {
		height: 100px;
	}
}

@media screen and (max-width: 460px) {
	.conenido-tecnologias {
		display: none;
	}
}

@media screen and (max-width:415px) {
	.contenido-captcha {
		width: 95%;
		margin: auto;
		border: 1px solid;
	}
	.g-recaptcha {
		width: 200px;
	}
}